{% extends 'base.html' %}

{% block links %}
    <script src="https://unpkg.com/lightweight-charts@latest/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock links %}

{% block title%} App {% endblock title%}

{% block main %}
    <style>
        .overlay {
            position: fixed; 
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.6); 
            display: flex;
            justify-content: center; 
            align-items: center;     
            z-index: 9999; 
        }
        
        .overlay.hidden {
            display: none;
        }
    </style>

    <div class="d-flex align-items-center justify-content-center flex-column w-100 h-100">
        <div id="spinner-overlay" class="overlay">
            <div class="spinner-border text-secondary" role="status"></div>
        </div>
        <h1 style="font-family: 'Roboto', sans-serif; font-weight: 300;" id="current-ticker-name">Current ticker is: AAPL</h1>
        <select style="border: none; background-color: white; border-radius: 10px; border: solid 2px black; padding: 5px; font-family: 'Roboto', sans-serif" id="ticker-changer" onchange="sendAjaxRequest()" style="width: 12rem;">
            <option value="">Выберите тикер</option>
            <option value="TSLA">Tesla</option>
            <option value="AAPL" selected>Apple</option>
            <option value="NVDA">Nvidia</option>
            <option value="AMZN">Amazon</option>
            <option value="META">Meta</option>
            <option value="AMD">AMD</option>
            <option value="GOOGL">Google</option>
            <option value="ARM">ARM</option>
            <option value="SHOP">Shopify</option>
            <option value="HOOD">Robinhood</option>
        </select>   
        <h1 style="margin-bottom: 1rem; text-align:center;"></h1>
        <div class="d-flex align-items-center justify-content-center ">
            <div id="chart"><h2>Chart is loading...</h2></div>
        </div>
    </div>

    <script>
        window.addEventListener('load', () => {
            show_chart('{{ chart_data|safe }}');
            hideSpinner();
        })

        function showSpinner() {
            $('#spinner-overlay').show();
        }
        
        function hideSpinner() {
            $('#spinner-overlay').fadeOut(750);
        }

        function show_chart(responseData) {
            document.getElementById('chart').innerHTML = '';
            
            const chartData = JSON.parse(responseData);
        
            const formattedData = chartData.map(item => ({
                time: item.timestamp / 1000,  
                open: item.open_price,        
                high: item.high_price,
                low: item.low_price,
                close: item.close_price       
            }));
    
            const chart = LightweightCharts.createChart(document.getElementById('chart'), {
                width: 1400,
                height: 400,
            });
    
            const candlestickSeries = chart.addCandlestickSeries();
    
            candlestickSeries.setData(formattedData);
    
            chart.timeScale().fitContent();
        }
    
        function sendAjaxRequest() {
            showSpinner();
            const ticker = document.getElementById('ticker-changer').value;  
    
            if (!ticker) { 
                return;  // если тикер не выбран - просто ничего не делаем.
            }
    
            $.ajax({
                url: "/ticker/", 
                type: 'POST',
                data: {
                    ticker: ticker, 
                    csrfmiddlewaretoken: '{{ csrf_token }}'  
                },
                success: function(response) {
                    console.log("Response received:", response);
                    show_chart(response.df_data);
                    
                    const select = document.getElementById('ticker-changer');
                    document.getElementById('current-ticker-name').textContent = "Current ticker is: " + ticker;
                    hideSpinner();
                },
                error: function(xhr, status, error) {
                    console.error('Ошибка: ' + error);
                }
            });
        }

    </script>
{% endblock main %}
